# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/

# Streamlit
.streamlit/

# Model files
src/models/*.pt
src/models/*.onnx
src/models/*.h5

#Test Video
src/test_video/

# Data

# Notebook checkpoints
.ipynb_checkpoints/